<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="css/style.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">


 <title><%= title %></title>
</head>

<body>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            <div class="border-end border-warning h-100">
                <div class="text-center">
                    <img src="../images/man photo.jpg" alt="" class="img-fluid rounded-circle" width="210px">
                    <h3 class="text-white mt-5" style="font-family: 'Satisfy', cursive;">Jonas Schmedtmann</h3>
                </div>
                <nav class="nav flex-column text-center mt-5" style="font-size: 20px;">
                    <a href="/" class="nav-link active">Home</a>
                    <a href="/services" class="nav-link">Services</a>
                    <a href="/skills" class="nav-link">Skills</a>
                    <a href="/contact" class="nav-link">Contact</a>
                </nav>
                </div>
        </div>
        <div class="col-sm-10">
            <h1>Home Page</h1>
                <div class="text-center">
                    <img src="../images/man photo.jpg" alt="" class="img thumbnail" width="250px" height="150px">
                </div>
                <div class="mt-5 text-white mx=5 text-justify">
                    <h1 class="fw-bold" style="font-family: 'Satisfy', cursive;">Hello,</h1>
                    <div class="px-4" style="line-height: 2rem;">
                        <p style="text-indent: 100px;">I am <b class="text-warning"> Jonas Schmedtmann</b> having 5 years of full-stack web development experience for global businesses, IU offer the technical expertise you are seeking for your web developer position </p>
                        <p>Since earning my bachelor's degree in internet and web development from xyz University, I have served as a web developer at <b class="text-warning"> Geeky Shows Technology</b>, one of best premier digital marketing and web
                        development firm. In this position, I have led web development projects for clients in diverse industries including technology, manufacturing, pharmaceutical, hospitality, retail
                        and financial services.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis magni quibusdam corporis eius soluta porro officiis omnis deleniti! Iure adipisci quidem et accusamus ex obcaecati eveniet eius perspiciatis? In, consequatur!</p>
                    </div>
                </div>
                <div class="text-center">
                    <a href="/contact" class="btn btn-outline-warning mx-5 my-3">Hire Me</a>
                    <a href="/contact" class="btn btn-outline-info">Contact</a>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>